#snap {
	width: 0%;
	height: 0px;
	display: block;
	margin-top: 90%;
	margin-left: 70%;
	position: absolute;
	font-size: 50px;
}

#delete {
	width: 0%;
	height: 0px;
	display: block;
	margin-top: 90%;
	margin-left: 20%;
	position: absolute;
	font-size: 50px;
}

.handsome {
	width: 70vw;
	position: absolute;
}

#paint {
	width: 70vw;
	position: absolute;
}
