#snap {
	margin-left: 5%;
	width: 20%;
	height: 50px;
	border: 3px solid black;
	display: block;
	margin-top: 50%;
	position: absolute;
}

#delete {
	width: 20%;
	height: 50px;
	border: 3px solid black;
	display: block;
	margin-top: 50%;
	margin-left: 35%;
	position: absolute;
}

.handsome {
	width: 30%;
	position: absolute;
}

#paint {
	width: 30%;
	position: absolute;
}
